@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

main {
  margin: $margin-center;
}

p {
  color: gray;
}

/* HEADER */

.menu {
  display: -webkit-box;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 25;
  background: rgba(255, 255, 255, .95);
  -webkit-box-pack: center;
  justify-content: center;
  height: 110px;
  width: 100%;
  box-shadow: 10px 5px 5px $color-grey;

  &__nav {
    display: -webkit-box;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: $max-width;
    height: 100%;

    .divider {
      display: -webkit-box;
      display: flex;
      position: absolute;
      color: $color-grey;
      width: 100%;
      top: 48px;
    }

    .menu__top-nav {
      display: -webkit-box;
      display: flex;
      position: relative;
      width: 100%;
      height: 48px;
      -webkit-box-align: center;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, .2);

      .menu__top-nav-icons {
        display: -webkit-box;
        display: flex;
        position: relative;
        width: 50%;

        .fa {
          color: #a5b1c2;
          font-size: 18px;
          margin-right: 20px;
          cursor: pointer;
        }

        .fa:hover {
          color: #2d98da;
        }
      }

      .menu__top-nav-phone {
        display: -webkit-box;
        display: flex;
        position: relative;
        width: 50%;
        -webkit-box-pack: end;
        justify-content: flex-end;
        font-size: 14px;
      }
    }

    .menu__bottom-nav {
      display: -webkit-box;
      display: flex;
      position: relative;
      width: 100%;
      height: 62px;

      .menu__bottom-nav-left {
        display: -webkit-box;
        display: flex;
        position: relative;
        width: 20%;
        height: 100%;

        .logo {
          color: #000;
          height: 40px;
          margin: auto 0;
        }

        .logo-text {
          margin: auto 10px;
          font-size: 21px;
        }
      }

      .menu__bottom-nav-right {
        display: -webkit-box;
        display: flex;
        position: relative;
        height: 100%;
        width: 80%;
        -webkit-box-pack: end;
        justify-content: flex-end;

        .menu-list {
          display: -webkit-box;
          display: flex;
          position: relative;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          flex-direction: row;
          list-style: none;

          .menu-item,
          .menu-item-burger {
            display: -webkit-box;
            display: flex;
            position: relative;
            align-items: center;
            height: 100%;
            margin-left: 30px;

            a {
              display: -webkit-box;
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              text-align: center;
              height: 100%;
              margin: 0 10px;
              text-decoration: none;
              color: #000;
              text-transform: uppercase;
              font-size: 12px;
            }

            a:hover {
              border-top: 2px solid #20bf6b;
            }
          }
        }
      }
    }
  }
}

/* SLIDER HOME section */

#home {
  display: -webkit-box;
  display: flex;
  position: relative;
  width: 100%;
  height: 780px;
  z-index: 5;

  .img-bg {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 780px;
    object-fit: contain;
  }

  .slider {
    z-index: 5;
    display: -webkit-box;
    display: flex;
    position: relative;
    width: $max-width;
    height: 100%;
    margin: $margin-center;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;

    &__slide {
      display: -webkit-box;
      display: flex;
      position: relative;
      width: $max-width;
      height: 100%;
      margin: $margin-center;
      flex-shrink: 0;
      scroll-behavior: smooth;

      -webkit-animation-name: auto-slider;
      animation-name: auto-slider;
      -webkit-animation-duration: 20s;
      animation-duration: 20s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;

      &__content {
        display: -webkit-box;
        display: flex;
        height: 100%;
        width: $max-width;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;

        &-text {
          display: -webkit-box;
          display: flex;
          position: relative;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-box-align: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 100%;

          h2 {
            text-align: center;
            font-size: 36px;
          }

          p {
            margin: 15px 0 36px;
            text-align: center;
            font-size: 21px;
          }

          .explore {
            position: relative;
            width: 140px;
            height: 45px;
            border: none;
            box-shadow: 0 0 10px rgba(red, 0.25);
            border-radius: 40px;
            padding: auto;
            color: #2ecc71;
            background: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* SLIDER ANIMATION */

@keyframes auto-slider {
  0% {
    left: 0;
  }
  25% {
    left: -1140px;
  }
  50% {
    left: -2280px;
  }
  100% {
    left: -3420px;
  }
}

/* CUSTOMERS (PARTNERS) section */

.customers {
  display: -webkit-box;
  display: flex;
  position: relative;
  height: 160px;
  width: 100%;
  margin: $margin-center;
  border-top: 2px solid $color-grey;
  border-bottom: 2px solid $color-grey;
  z-index: 5;

  &__content {
    display: -webkit-box;
    display: flex;
    position: relative;
    width: $max-width;
    height: 100%;
    margin: $margin-center;

    &-col-left {
      display: -webkit-box;
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      width: 360px;
      padding: 42px 0;

      h2 {
        margin: 0 0 24px;
        font-size: 32px;
      }

      p {
        font-size: 14px;
      }
    }

    &-col-right {
      display: -webkit-box;
      display: flex;
      position: absolute;
      height: 100%;
      width: 685px;
      right: 0;

      .cell-vintage,
      .cell-woody,
      .cell-lumber,
      .cell-retro {
        display: -webkit-box;
        display: flex;
        position: relative;
        height: 100%;
        width: 196px;
        object-fit: cover;

        .partner-img {
          margin: auto;
          height: 40%;
          width: 70%;
        }
      }

      .cell-vintage {

        .partner-img {
          width: 100%;
        }
      }
    }
  }
}

/* SERVICES section */

.services {
  display: -webkit-box;
  display: flex;
  position: relative;
  height: 760px;

  &__content {
    display: -webkit-box;
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: row;
    justify-content: center;

    &-col-left {
      display: -webkit-box;
      display: flex;
      position: absolute;
      height: 635px;
      width: 720px;
      top: 110px;
      left: -250px;
    }

    &-col-right {
      display: -webkit-box;
      display: flex;
      position: relative;
      height: 450px;
      width: 750px;
      top: 170px;
      left: 555px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;

      .caption {
        position: relative;
        height: 95px;
        width: 630px;

        h2 {
          font-size: 30px;
          margin-bottom: 35px;
        }
      }

      .content-row-top,
      .content-row-bottom {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        position: relative;
        height: 150px;
        width: 100%;

        .col-left,
        .col-right {
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          flex-direction: row;
          margin-top: 115px;
          position: relative;
          height: 75px;
          width: 345px;

          img {
            display: block;
            position: relative;
            height: 40px;
            width: 40px;
          }

          .content-box {
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            position: absolute;
            right: 5px;
            width: 260px;
            height: 100%;

            h3 {
              font-size: 12px;
              text-transform: uppercase;
            }

            p {
              position: absolute;
              bottom: 5px;
              color: gray;
            }
          }
        }

        .col-right{
          margin-left: 40px;
        }
      }

      .content-row-bottom {
        display: -webkit-box;
        display: flex;
        position: relative;
      }
    }
  }
}

/* CAREERS section */

.careers {
  display: -webkit-box;
  display: flex;
  position: relative;
  background: url(../images/man.png) center;
  height: 935px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;

  &__caption {
    display: -webkit-box;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 705px;
    height: 110px;
    margin: 240px 300px 100px;
    z-index: 2;

    h2 {
      font-size: 24px;
    }

    p {
      margin-top: 40px;
    }

  }

  &__content {

    .row-top,
    .row-bottom {
      display: -webkit-box;
      display: flex;
      position: relative;
      width: 705px;
      margin: 0 300px;

      .col-left,
      .col-right {
        width: 165px;
        height: 75px;

        h1 {
          margin-bottom: 5px;
          font-size: 32px;/*
          -webkit-animation-duration: 10s;
          animation-duration: 10s;*/
        }

        p {
          text-transform: uppercase;
          font-size: 12px;
        }
      }

      .col-left {
        margin-right: 50px;
      }
    }

    .row-top {
      margin-bottom: 50px;

      .col-left {
        h1 {
          color: green;/*
          -webkit-animation: green-calculation;
          animation: green-calculation;*/
        }
      }

      .col-right {
        h1 {
          color: blue;/*
          -webkit-animation: blue-calculation;
          animation: blue-calculation;*/
        }
      }
    }

    .row-bottom {
      .col-left {
        h1 {
          color: yellow;/*
          -webkit-animation: yellow-calculation;
          animation: yellow-calculation;*/
        }
      }

      .col-right {
        h1 {
          color: red;
          /*-webkit-animation: red-calculation;
          animation: red-calculation;*/
        }
      }
    }
  }
}

/*
@keyframes green-calculation {
  0% {

  }
  100% {

  }
}*/

/* CONTACT US section */

.contact-us {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  height: 695px;

  .img-bg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__caption {
    position: relative;
    top: 0;

    h2,
    p {
      text-align: center;
    }

    h2 {
      font-size: 32px;
      margin-bottom: 35px;
    }
  }

  &__form {
    display: -webkit-box;
    display: flex;
    position: absolute;
    width: 750px;
    height: 740px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 -1px 5px 5px rgba(0, 0, 0, .05);
    z-index: 1;
    top: 30%;

    &__content {
      display: -webkit-box;
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      -webkit-box-pack: center;
      justify-content: center;

      .wrapper {
        display: -webkit-box;
        display: flex;
        position: relative;
        height: 100%;
        width: 615px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;

        .label {
          position: absolute;
          text-transform: uppercase;
        }

        .email-l {
          top: 75px;
        }

        .name-l,
        .surname-l {
          top: -35px;
        }

        .surname-l {
          left: 315px;
        }

        .msg-l {
          top: 340px;
        }

        .email-input,
        .input-row,
        .message-input {
          display: block;
          position: relative;
          width: 100%;
          border: none;
        }

        .email-input,
        .input-row {
          height: 68px;
        }

        .email-input,
        .message-input {
          background: rgba(0, 0, 0, .1);
          border-radius: 5px;
          padding: 10px;
        }

        .email-input {
          margin: 112px 0 65px;
        }

        .input-row {
          margin-bottom: 65px;

          .name-input,
          .surname-input {
            width: 300px;
            height: 100%;
            background: rgba(0, 0, 0, .1);
            border-radius: 5px;
            border: none;
            padding: 10px;
          }

          .surname-input {
            margin-left: 10px;
            right: 0;
          }
        }

        .message-input {
          width: 100%;
          height: 180px;
        }

        .submit-btn {
          width: 140px;
          height: 45px;
          margin: 60px 0 90px;
          font-size: 14px;
          color: green;
          background: none;
          border: none;
          border-radius: 20px;
          box-shadow: 0 -1px 5px 5px rgba(0, 0, 0, .08);
          cursor: pointer;
        }
      }
    }
  }
}

/* FOOTER */

footer {
  display: -webkit-box;
  display: flex;
  position: relative;
  height: 785px;
  -webkit-box-pack: center;
  justify-content: center;
  background: url(../images/footer-bg.png) center;

  .footer__content {
    display: -webkit-box;
    display: flex;
    position: absolute;
    width: $max-width;
    height: 405px;
    top: 380px;
    border-top: 1px solid rgba(0, 0, 0, .2);
    z-index: 1;

    &__col-01 {
      display: -webkit-box;
      display: flex;
      position: relative;
      width: 390px;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      padding: 50px 0;

      .logo {
        display: -webkit-box;
        display: flex;
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        height: 45px;

        .logo-text {
          color: #000;
          margin: 0 10px;
          font-size: 24px;
          height: 80%;
        }
      }

      .story {
        width: 100%;
        height: 90px;
        margin: 15px 0 35px;
      }

      .policy-terms {
        display: -webkit-box;
        display: flex;
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        width: 100%;

        .label {
          font-size: 14px;
          text-transform: uppercase;
        }

        .label:nth-child(1) {
          margin-right: 35px;
        }
      }
    }

    &__col-02,
    &__col-03,
    &__col-04 {
      display: -webkit-box;
      display: flex;
      position: relative;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      margin-top: 50px;
      margin-right: 82px;

      .caption {
        position: relative;
        font-size: 14px;
        margin: $margin-center;
        text-transform: uppercase;
      }

      p {
        margin: 25px 55px 0;
        font-size: 14px;
        cursor: pointer;
      }

      p:hover {
        color: #000;
      }

      p:nth-child(1) {
        margin: 35px 55px 0;
      }
    }

    &__col-02 {
      width: 180px;
      height: 185px;
      margin-left: 82px;
    }

    &__col-03 {
      width: 128px;
      height: 230px;

      p {
        margin: 25px 25px 0;
      }
    }

    &__col-04 {
      margin-right: 0;
      width: 185px; //145
      height: 75px;

      .caption {
        margin: 0 0 25px;
      }

      .icons {
        width: 100%;
        height: 20px;

        .fa {
          height: 100%;
          width: 20px;
          margin-right: 10px;
          color: gray;
          cursor: pointer;
        }

        .fa:hover {
          color: #2d98da;
        }

        .fa:nth-child(4) {
          margin-right: 0;
        }
      }
    }
  }
}
