* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 0 10%;
}

.wrapper .wrapper__caption,
.wrapper .wrapper__box .wrapper__box__city {
    margin: 10px;
}

.wrapper .wrapper__box {
    width: 100%;
}

.wrapper .wrapper__box .form {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 3%;
}

.wrapper .wrapper__box .form .wrapper__box__city,
.wrapper .wrapper__box .form .wrapper__box__search-button {
    margin: 0 5px;
}

.wrapper .wrapper__box .form .wrapper__box__city {
    padding: 5px 10px;
    border: 2px solid #000;
    outline: none;
    border-radius: 10px;
    width: 40%;
}

.wrapper .wrapper__box .form .wrapper__box__search-button {
    border: 2px solid #000;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.wrapper .wrapper__box .form .wrapper__box__search-button:hover {
    background: rgba(0, 0, 0, .15);
}

.wrapper .wrapper__box .form .wrapper__box__search-button .fa {
    color: #000;
}

.wrapper .weatherItem {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, .2);
}

.wrapper .weatherItem .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.wrapper .weatherItem .col .city {
    color: #f00;
}

.wrapper .weatherItem .col .weather {
    color: #808080;
}

.wrapper .weatherItem .col .temperature {
    color: #f7b731;
}

.wrapper .weatherItem .col .wind {
    color: #2bcbba;
}
