.container {
    width: 80%;
    margin: 0 auto;
}

.container .input-field {
    width: 600px;
    margin: 10px;
}

.container .input-field,
.container .search-button {
    padding: 10px;
    border: 2px solid #344;
    border-radius: 10px;
    background: none;
    outline: none;
}

.container .search-button {
    cursor: pointer;    
    background: none;
    transition: background ease-in-out .05s;
}

.container .search-button:hover {
    background: rgba(0, 0, 0, .1);
    transition: background ease-in-out .05s;
}