.input-field {
    width: 300px;
    margin: 10px;
}

.input-field,
.search-button {
    padding: 10px;
    border: 2px solid #344;
    border-radius: 10px;
    background: none;
    outline: none;
}

.search-button {
    cursor: pointer;    
    background: none;
    transition: background ease-in-out .05s;
}

.search-button:hover {
    background: rgba(0, 0, 0, .1);
    transition: background ease-in-out .05s;
}