/* TEMPLATES */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  box-sizing: border-box;
  font-family: sans-serif;
  display: block;
  justify-content: center;
}

.header, .main, .footer {
  width: 100%;
}

.section {
  display: flex;
  position: relative;
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: center;
}

/* HEADER & FOOTER */

.container__header, .container__footer {
  height: 80px;
  width: 100%;
  background: #344;
}

/* HEADER */
/* MENU */

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0 0 25px grey;
}

.menu .sticky-menu .logo{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 20px;
  color: #fff;
  height: 50px;
  width: 50px;
  border: 5px solid #7bed9f;
}

.menu .sticky-menu .logo .symbols {
  font-size: 28px;
}

.menu .sticky-menu .logo:hover .symbols {
  color: #ff7f50;
  cursor: pointer;
}

.menu .sticky-menu .navigation .nav-item {
  text-decoration: none;
  outline: none;
  display: inline-block;
  font-size: 18px;
  margin: 0 15px 0;
}

.menu .sticky-menu .navigation .nav-item a {
  text-decoration: none;
  outline: none;
  color: #fff;
}

.menu .sticky-menu .navigation .nav-item a:hover {
  color: #ff7f50;
  cursor: pointer;
}

.menu .sticky-menu .navigation .nav-item.with-arrow .drop-navigation {
  display: none;
  position: absolute;
  margin: 0 -12px 10px;
  padding: 30px 10px 5px;
  background: #344;
  list-style:none;
  height: 150px;
  width: 140px;
  border-radius: 0 0 10px 10px;
}

.menu .sticky-menu .navigation .nav-item.with-arrow:hover .drop-navigation {
  display: block;
}

.menu .sticky-menu .navigation .nav-item.with-arrow .drop-navigation .drop-nav-item {
  margin: 10px 0;
}

.menu .sticky-menu .navigation .nav-item.with-arrow .drop-navigation.right-nav {
  margin: 0 -80px 10px;
  height: 90px;
  width: 120px;
}

/* FOOTER */

.container__footer .content-footer .copyright {
  color: #fff;
  text-align: center;
  padding: 30px;
}

.container__footer .copyright .nickname {
  color: #78e08f;
}

/* MAIN */
/*HOME SECTION*/

.home-area .img-box {
  margin: 0;
  padding: 0;
}

.home-area .img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-area .profile {
    display: flex;
    position: absolute;
    width: 70%;
    height: 60%;
    bottom: 20px;
    background: #fff;
    border-radius: 10px;
}

.home-area .home-caption {
  position: absolute;
  font-size: 28px;
  top: 20px;
  right: 50px;
  color: #fff;
  text-shadow: #000 0 0 15px;
}

.home-area .home-caption::after {
  content: 'Hello, world!';
  position: absolute;
  margin: 0 5px;
  font-size: 18px;
  width: 120px;
  height: 20px;
  text-align: center;
  padding: 5px 5px;
  border: 2px solid rgba(0, 0, 0, .6);
  background: rgba(0, 0, 0, .3);
  border-radius: 10px;
  transform: scale(0);
  transition: transform ease-out .3ms;
}

.home-area .home-caption:hover::after {
  transform: scale(1);
  transition: transform ease-out .3ms;
  cursor: pointer;
}

.home-area .profile .profile-img {
  display:inline-block;
  position: relative;
  height: 80%;
  width: 50%;
  margin: 30px 40px;
}

.home-area .profile .profile-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.profile-desc {
  display: inline-block;
  position: relative;
  width: 40%;
  height: 70%;
  top: 70px;
}

.profile .i-block {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.profile .i-block .icon {
  margin: 10px;
  width: 50px;
  height: 50px;
}

.profile .i-block .icon a .fa {
  font-size: 30px;
  position: relative;
  margin: 15px;
  color: #70a1ff;
}

.profile .i-block .icon a:hover .fa {
  font-size: 35px;
  border-radius: 5px;
  border: 2px solid #70a1ff;
  background: #70a1ff;
  color: white;
}

/* ABOUT-ME SECTION */

.about-me {
  background: #fff;
}

.about-me .container {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.about-me .img-box {
  display: inline-block;
  position: relative;
  height: 80%;
  width: 40%;
  margin: 0 20px;
  transform-style: preserve-3d;
  transition: 1s ease-out;
  cursor: pointer;
  transform: rotateY(0deg);
}

.about-me .img-box::before {
  content: 'Description';
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  letter-spacing: 10px;
  width: 100%;
  height: 100%;
  background: #eccc68;
  border-radius: 10px;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: rotateY(180deg);
  transition: transform ease-out 1s;
}

.about-me .img-box:hover {
  transform: rotateY(180deg);
  transition: transform ease-out 1s;
}

.about-me .img-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-me .content-about {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 80%;
  margin: 0 20px;
}

.about-me .content-about .content-caption {
  display: flex;
  position: relative;
  width: 100%;
  height: 20%;
}

.about-me .content-about .content-caption div .about-caption {
  border-bottom: 2px solid #ff7f50;
  height: 40px;
  cursor: pointer;
}

.about-me .content-about .content-caption div .about-caption::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 10px;
  height: 10px;
  background: #ff7f50;
  border-radius: 7px;
  transition: left ease-out .5s;
}

.about-me .content-about .content-caption div .about-caption:hover::before {
  left: 70px;
  transition: left ease-out .5s;
}

.about-me .content-about .content-text {
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
}

/* LATEST WORKS SECTION */

.latest-works {
  background: rgba(0, 0, 0, .02);
}

/* JOB HISTORY SECTION */

.job-history {
  display: block;
  position: relative;
}

.job-history .h-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.job-history .h-container .h-caption {
  display: flex;
  position: absolute;
  top: 0;
  width: 10%;
  height: 10%;
  border-bottom: 2px solid #ff7f50;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: width ease-out .5s;
}

.job-history .h-container .h-caption:hover {
  width: 15%;
  transition: width ease-out .5s;
}

.job-history .h-container .h-caption::after {
  content: '';
  position: absolute;
  left: 48%;
  bottom: -6px;
  width: 10px;
  height: 10px;
  background: #ff7f50;
  border-radius: 7px;
  transition: left ease-out .5s;
}

.job-history .h-container .h-caption h2 {
  display: flex;
  position: relative;
  padding: 5px 10px;
}

.job-history .h-container .h-box {
  display: grid;
  position: relative;
  width: 60%;
  height: 80%;
  margin: 70px 0 20px;
  grid-template-columns: 400px 400px;
  grid-gap: 20px 40px;
}

.job-history .h-container .h-box .h-content {
  background: rgba(0, 0, 0, .02);
  border-radius: 10px;
  transition: background ease-out 1s;
}

.job-history .h-container .h-box .h-content .top-left {
  display: inline-block;
  position: relative;
}

.job-history .h-container .h-box .h-content .top-left .city{
  display: flex;
  position: relative;
  font-size: 16px;
}

.job-history .h-container .h-box .h-content .top-left,
.job-history .h-container .h-box .h-content .top-right,
.job-history .h-container .h-box .h-content p {
  margin: 10px 15px;
}

.job-history .h-container .h-box .h-content .top-right {
  display: inline-flex;
  position: relative;
  margin: 5px 10px;
  height: 15%;
  width: 55%;
  border: 2px solid #70a1ff;
  border-radius: 15px;
  background: rgba(0, 0, 0, .02);
  transition: background ease-out 1s;
}

.job-history .h-container .h-box .h-content:hover .top-right {
  background: #fff;
  transition: background ease-out 1s;
}

.job-history .h-container .h-box .h-content .top-right .date {
  display: flex;
  position: relative;
  text-align: center;
  padding: 8px 10px;
  font-size: 18px;
}

.job-history .h-container .h-box .h-content p {
  display: flex;
  position: relative;
  width: 90%;
  height: 60%;
}

.job-history .h-container .h-box .h-content:hover {
  background: #70a1ff;
  border-radius: 10px;
  cursor: pointer;
  transition: background ease-out 1s;
}

/* MEDIA */
/* 1200 1024 768 568 320 */
