/* TEMPLATES */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  box-sizing: border-box;
  font-family: sans-serif;
  display: block;
  justify-content: center;
}

.header, .main, .footer {
  width: 100%;
}

.section {
  display: flex;
  position: relative;
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: center;
}

/* HEADER & FOOTER */

.container__header, .container__footer {
  height: 80px;
  width: 100%;
  background: #344;
}

/* HEADER */
/* MENU */

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0 0 25px grey;
}

.menu .sticky-menu .logo{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 20px;
  color: #fff;
  height: 50px;
  width: 50px;
  border: 5px solid #7bed9f;
}

.menu .sticky-menu .logo .symbols {
  font-size: 28px;
}

.menu .sticky-menu .logo:hover .symbols {
  color: #ff7f50;
  cursor: pointer;
}

.menu .sticky-menu .navigation .nav-item {
  text-decoration: none;
  outline: none;
  display: inline-block;
  font-size: 18px;
  margin: 0 15px 0;
}

.menu .sticky-menu .navigation .nav-item a {
  text-decoration: none;
  outline: none;
  color: #fff;
}

.menu .sticky-menu .navigation .nav-item a:hover {
  color: #ff7f50;
  cursor: pointer;
}

.menu .sticky-menu .navigation .nav-item.with-arrow .drop-navigation {
  display: none;
  position: absolute;
  margin: 0 -12px 10px;
  padding: 30px 10px 5px;
  background: #344;
  list-style:none;
  height: 150px;
  width: 140px;
  border-radius: 0 0 10px 10px;
}

.menu .sticky-menu .navigation .nav-item.with-arrow:hover .drop-navigation {
  display: block;
}

.menu .sticky-menu .navigation .nav-item.with-arrow .drop-navigation .drop-nav-item {
  margin: 10px 0;
}

.menu .sticky-menu .navigation .nav-item.with-arrow .drop-navigation.right-nav {
  margin: 0 -80px 10px;
  height: 90px;
  width: 120px;
}

/* FOOTER */

.container__footer .content-footer .copyright {
  color: #fff;
  text-align: center;
  padding: 30px;
}

.container__footer .copyright .nickname {
  color: #78e08f;
}

/* MAIN */
/*HOME SECTION*/

.home-area .img-box {
  margin: 0;
  padding: 0;
}

.home-area .img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-area .profile {
    display: flex;
    position: absolute;
    width: 70%;
    height: 60%;
    bottom: 20px;
    background: #fff;
    border-radius: 10px;
}

.home-area .home-caption {
  position: absolute;
  font-size: 28px;
  top: 20px;
  right: 50px;
  color: #fff;
  text-shadow: #000 0 0 15px;
  cursor: pointer;
}

.home-area .home-caption::after {
  content: 'Hello, world!';
  position: absolute;
  margin: 0 5px;
  font-size: 18px;
  width: 120px;
  height: 20px;
  text-align: center;
  padding: 5px 5px;
  border: 2px solid rgba(0, 0, 0, .6);
  background: rgba(0, 0, 0, .3);
  border-radius: 10px;
  transform: scale(0);
  transition: transform ease-out .3ms;
}

.home-area .home-caption:hover::after {
  transform: scale(1);
  transition: transform ease-out .3ms;
  cursor: pointer;
}

.home-area .profile .profile-img {
  display:inline-block;
  position: relative;
  height: 80%;
  width: 50%;
  margin: 30px 40px;
}

.home-area .profile .profile-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.profile-desc {
  display: inline-block;
  position: relative;
  width: 40%;
  height: 70%;
  top: 70px;
}

.profile .i-block {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.profile .i-block .icon {
  margin: 10px;
  width: 50px;
  height: 50px;
}

.profile .i-block .icon a .fa {
  font-size: 30px;
  position: relative;
  margin: 15px;
  color: #70a1ff;
}

.profile .i-block .icon a:hover .fa {
  font-size: 35px;
  border-radius: 5px;
  border: 2px solid #70a1ff;
  background: #70a1ff;
  color: white;
}

/* ABOUT-ME SECTION */

.about-me {
  background: #fff;
}

.about-me .container {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.about-me .img-box {
  display: inline-block;
  position: relative;
  height: 80%;
  width: 40%;
  margin: 0 20px;
  transform-style: preserve-3d;
  transition: 1s ease-out;
  cursor: pointer;
  transform: rotateY(0deg);
}

.about-me .img-box::before {
  content: 'Description';
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  letter-spacing: 10px;
  width: 100%;
  height: 100%;
  background: #eccc68;
  border-radius: 10px;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: rotateY(180deg);
  transition: transform ease-out 1s;
}

.about-me .img-box:hover {
  transform: rotateY(180deg);
  transition: transform ease-out 1s;
}

.about-me .img-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-me .content-about {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 80%;
  margin: 0 20px;
}

.about-me .content-about .content-caption {
  display: flex;
  position: relative;
  width: 100%;
  height: 20%;
}

.about-me .content-about .content-caption div .about-caption {
  border-bottom: 2px solid #ff7f50;
  height: 40px;
  cursor: pointer;
}

.about-me .content-about .content-caption div .about-caption::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 10px;
  height: 10px;
  background: #ff7f50;
  border-radius: 7px;
  transition: left ease-out .5s;
}

.about-me .content-about .content-caption div .about-caption:hover::before {
  left: 70px;
  transition: left ease-out .5s;
}

.about-me .content-about .content-text {
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
}

/* LATEST WORKS SECTION */

.portfolio {
  height: 900px;
  background: rgba(0, 0, 0, .02);
}

.portfolio .portfolio__container {
  display: flex;
  position: relative;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio__container .portfolio__content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.portfolio .portfolio__container .portfolio__content .portfolio__caption {
  display: flex;
  position: absolute;
  top: 0;
  height: 8%;
  border-bottom: 2px solid #ff7f50;
}

.portfolio .portfolio__container .portfolio__content .portfolio__caption::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 10px;
  height: 10px;
  background: #ff7f50;
  border-radius: 7px;
  transition: left ease-out .5s;
}

.portfolio .portfolio__container .portfolio__content .portfolio__description {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 20%;
  top: 50px;
}

.portfolio .portfolio__container .portfolio__content .portfolio__description
.desc-left {
  margin: 10px;
  width: 50%;
  height: 100%;
}

.portfolio .portfolio__container .portfolio__content .portfolio__description
.desc-right {
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 10px;
  width: 50%;
  height: 100%;
  justify-content: center;
}

.portfolio .portfolio__container .portfolio__content .portfolio__description
.desc-right p {
  font-size: 12px;
  margin: 10px;
  cursor: pointer;
}

.portfolio .portfolio__container .portfolio__content .portfolio__description
.desc-right p:hover {
  color: #ff7f50;
}

.portfolio .portfolio__container .portfolio__content .portfolio__images {
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
  justify-content: center;
}

.portfolio .portfolio__container .portfolio__content .portfolio__images
.portfolio-photos {
  display: grid;
  position: relative;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 270px 270px 270px;
  grid-gap: 10px;
}

.portfolio .portfolio__container .portfolio__content .portfolio__images
.portfolio-photos .portfolio-box {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.portfolio .portfolio__container .portfolio__content .portfolio__images
.portfolio-photos .portfolio-box .overlay {
  left: 0;
  right: 0;
  top: -275px;
  display: none;
  position: relative;
  width: 250px;
  height: 270px;
  justify-content: center;
  align-items: center;
  background: rgba(252, 92, 101, .5);
  border-radius: 10px;
  flex-direction: column;
}

.portfolio .portfolio__container .portfolio__content .portfolio__images
.portfolio-photos .portfolio-box:hover .overlay {
  display: flex;
}

.portfolio .portfolio__container .portfolio__content .portfolio__images
.portfolio-photos .portfolio-box .overlay h4,
.portfolio .portfolio__container .portfolio__content .portfolio__images
.portfolio-photos .portfolio-box .overlay p {
  margin: 10px;
}

.portfolio .portfolio__container .portfolio__content .portfolio__images
.portfolio-photos .portfolio-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* JOB HISTORY SECTION */

.job-history {
  display: block;
  position: relative;
}

.job-history .h-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.job-history .h-container .h-caption {
  display: flex;
  position: absolute;
  top: 0;
  width: 10%;
  height: 10%;
  border-bottom: 2px solid #ff7f50;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: width ease-out .5s;
}

.job-history .h-container .h-caption h2 {
  text-align: center;
}

.job-history .h-container .h-caption:hover {
  width: 15%;
  transition: width ease-out .5s;
}

.job-history .h-container .h-caption::after {
  content: '';
  position: absolute;
  left: 48%;
  bottom: -6px;
  width: 10px;
  height: 10px;
  background: #ff7f50;
  border-radius: 7px;
  transition: left ease-out .5s;
}

.job-history .h-container .h-caption h2 {
  display: flex;
  position: relative;
  padding: 5px 10px;
}

.job-history .h-container .h-box {
  display: grid;
  position: relative;
  width: 60%;
  height: 80%;
  margin: 70px 0 20px;
  grid-template-columns: 400px 400px;
  grid-gap: 20px 40px;
}

.job-history .h-container .h-box .h-content {
  background: rgba(0, 0, 0, .02);
  border-radius: 10px;
  transition: background ease-out 1s;
}

.job-history .h-container .h-box .h-content .top-left {
  display: inline-block;
  position: relative;
}

.job-history .h-container .h-box .h-content .top-left .city{
  display: flex;
  position: relative;
  font-size: 16px;
}

.job-history .h-container .h-box .h-content .top-left,
.job-history .h-container .h-box .h-content .top-right,
.job-history .h-container .h-box .h-content p {
  margin: 10px 15px;
}

.job-history .h-container .h-box .h-content .top-right {
  display: inline-flex;
  position: relative;
  margin: 5px 10px;
  height: 15%;
  width: 55%;
  border: 2px solid #70a1ff;
  border-radius: 15px;
  background: rgba(0, 0, 0, .02);
  transition: background ease-out 1s;
}

.job-history .h-container .h-box .h-content:hover .top-right {
  background: #fff;
  transition: background ease-out 1s;
}

.job-history .h-container .h-box .h-content .top-right .date {
  display: flex;
  position: relative;
  text-align: center;
  padding: 8px 10px;
  font-size: 18px;
}

.job-history .h-container .h-box .h-content p {
  display: flex;
  position: relative;
  width: 90%;
  height: 60%;
}

.job-history .h-container .h-box .h-content:hover {
  background: #70a1ff;
  border-radius: 10px;
  cursor: pointer;
  transition: background ease-out 1s;
}

/* SEVICE OFFERS SECTION */

.service-offers {
  background: rgba(0, 0, 0, .02);
  height: 500px;
}

.service-offers .service-container {
  display: flex;
  position: relative;
  width: 80%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.service-offers .service-container .service-box {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.service-offers .service-container .service-box .service-caption {
  display: flex;
  position: relative;
  height: 8%;
  width: 15%;
  border-bottom: 2px solid #ff7f50;
  margin: 10px 10px 60px;
  cursor: pointer;
}

.service-offers .service-container .service-box .service-caption::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -6px;
  width: 10px;
  height: 10px;
  background: #ff7f50;
  border-radius: 7px;
  transition: right ease-out .5s;
}

.service-offers .service-container .service-box
.service-caption:hover::after {
  content: '';
  position: absolute;
  right: 50%;
  bottom: -6px;
  width: 10px;
  height: 10px;
  background: #ff7f50;
  border-radius: 7px;
  transition: right ease-out .5s;
}

.service-offers .service-container .service-box .service-content {
  display: flex;
  position: relative;
  height: 70%;
}

.service-offers .service-container .service-box .service-content
.web-design {
  background: #EAB543;
}

.service-offers .service-container .service-box .service-content
.app-development {
  background: #58B19F;
}

.service-offers .service-container .service-box .service-content
.web-development {
  background: #8854d0;
}

.service-offers .service-container .service-box .service-content
.ui-ux {
  background: #20bf6b;
}

.service-offers .service-container .service-box .service-content
.service-blocks {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-gap: 20px 40px;
  height: 300px;
}

.service-offers .service-container .service-box .service-content
.service-blocks .s-block {
  display: block;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}

.service-offers .service-container .service-box .service-content
.service-blocks .s-block .s-img-box,
.service-offers .service-container .service-box .service-content
.service-blocks .s-block h3,
.service-offers .service-container .service-box .service-content
.service-blocks .s-block p {
  display: flex;
  position: relative;
  padding: 10px 10px;
  color: #fff;
}

.s-block .read-more {
  display: flex;
  position: relative;
  margin: 20px;
  width: 50%;
  height: 35px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color ease-out .5s,
              background ease-out .5s,
}

.s-block.web-design .read-more:hover {
  color: #EAB543;
  background: #fff;
  transition: color ease-out .5s,
              background ease-out .5s;
}

.s-block.app-development .read-more:hover {
  color: #58B19F;
  background: #fff;
  transition: color ease-out .5s,
              background ease-out .5s;
}

.s-block.web-development .read-more:hover {
  color: #8854d0;
  background: #fff;
  transition: color ease-out .5s,
              background ease-out .5s;
}

.s-block.ui-ux .read-more:hover {
  color: #20bf6b;
  background: #fff;
  transition: color ease-out .5s,
              background ease-out .5s;
}

/* FEEDBACK SECTION */

.feedback {
  height: 400px;
}

.feedback .feedback-container {
  display: flex;
  position: relative;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.feedback .feedback-container .slider {
  display: flex;
  position: relative;
  width: 600px;
  height: 50%;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.feedback .feedback-container .slider .slide {
  display: flex;
  position: relative;
  width: 600px;
  flex-shrink: 0;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-align: start;

  animation-name: auto-slider;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.feedback .feedback-container .slider .slide .slide-content {
    display: flex;
    height: 100%;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback .feedback-container .slider .slide .slide-content .slide-child {
  margin: 10px;
}

.fa-star {
  color: #f7b731;
}

/* CONTACTS SECTION */

.contacts {
  height: 400px;
  background: #fc5c65;
  color: #fff;
}

.contacts .contacts__container {
  display: flex;
  position: relative;
  width: 90%;
  height: 90%;
}

.contacts .contacts__container .contacts__content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contacts .contacts__container .contacts__content .contacts__caption {
  display: flex;
  position: absolute;
  top: 0;
  border-bottom: 2px solid #fff;
}

.contacts .contacts__container .contacts__content .contacts__caption h2 {
  display: flex;
  position: relative;
  padding: 10px;
}

.contacts .contacts__container .contacts__content .contacts__caption::after {
  content: '';
  position: absolute;
  left: 48%;
  bottom: -6px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 7px;
  transition: left ease-out .5s;
}

.contacts .contacts__container .contacts__content .contacts__numberEmail {
  display: flex;
  position: relative;
  flex-direction: row;
}

.contacts .contacts__container .contacts__content .contacts__numberEmail p,
.contacts .contacts__container .contacts__content .contacts__description p {
  margin: 20px 10px;
  font-size: 18px;
}

.contacts .contacts__container .contacts__content .contacts__hire {
  display: flex;
  position: absolute;
  bottom: 40px;
}

.contacts .contacts__container .contacts__content .contacts__hire input[type=button] {
  width: 100px;
  height: 40px;
  cursor: pointer;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 15px;
  background: none;
  transition: color ease-out .5s,
              background ease-out .5s;
}

.contacts .contacts__container .contacts__content .contacts__hire
input[type=button]:hover {
  color: #fc5c65;
  border: 2px solid #fff;
  border-radius: 15px;
  background: #fff;
  transition: color ease-out .5s,
              background ease-out .5s;
}

/* SLIDER ANIMATION */

@keyframes auto-slider {
  0% {
    left: 0;
  }
  25% {
    left: -600px;
  }
  50% {
    left: -1200px;
  }
  100% {
    left: -1800px;
  }
}

/* MEDIA */

@media (min-width: 1001px) and (max-width: 1200px) {

  /* JOB HISTORY SECTION */

  .job-history {
    height: 800px;
  }

  .job-history .h-container {
    width: 90%;
  }

  .job-history .h-container .h-box {
    width: 80%;
    grid-template-columns: 300px 300px;
    grid-template-rows: 330px 330px;
  }

  /* SEVICE OFFERS SECTION */

  .service-offers {
    height: 760px;
  }

}

@media (min-width: 769px) and (max-width: 1000px) {
  /* MAIN */
  /*HOME SECTION*/

  .home-area .profile {
      width: 80%;
      height: 60%;
      bottom: 20px;
  }

  .home-area .home-caption {
    font-size: 18px;
  }

  .home-area .home-caption::after {
    font-size: 12px;
    width: 80px;
    height: 15px;
  }

  .profile-desc {
    margin: 10px;
  }

  .profile .i-block {
    bottom: 30px;
    right: 30px;
  }

  .profile .i-block .icon {
    margin: 5px;
    width: 30px;
    height: 30px;
  }

  /* JOB HISTORY SECTION */

  .job-history {
    height: 800px;
  }

  .job-history .h-container {
    width: 90%;
  }

  .job-history .h-container .h-box {
    width: 70%;
    grid-template-columns: 300px 300px;
    grid-template-rows: 330px 330px;
  }

  /* SEVICE OFFERS SECTION */

  .service-offers {
    height: 760px;
  }

}

@media (min-width: 571px) and (max-width: 768px) {

  /* MAIN */
  /*HOME SECTION*/

  .home-area {
    height: 500px;
  }

  .home-area .profile {
      width: 90%;
      height: 80%;
      bottom: 50px;
  }

  .home-area .home-caption {
    font-size: 18px;
  }

  .home-area .home-caption::after {
    font-size: 12px;
    width: 80px;
    height: 15px;
  }

  .profile .profile-desc {
    height: 80%;
    margin: 10px;
  }

  .profile .profile-desc p {
    font-size: 12px;
  }

  .profile .i-block {
    bottom: 50px;
    right: 30px;
  }

  .profile .i-block .icon {
    margin: 10px;
    width: 30px;
    height: 30px;
  }

  /* ABOUT-ME SECTION */

  .about-me {
    height: 400px;
  }

  .about-me .img-box {
    height: 60%;
    width: 40%;
  }

  .about-me .img-box::before {
    font-size: 18px;
  }

  .about-me .content-about {
    width: 40%;
    height: 100%;
  }

  .about-me .content-about .content-caption {
    display: flex;
    position: relative;
    width: 100%;
    height: 20%;
  }

  .about-me .content-about .content-caption div
  .about-caption::before {
    bottom: 34px;
  }

  /* LATEST WORKS SECTION */

  .portfolio {
    height: 1200px;
  }

  .portfolio .portfolio__container {
    width: 90%;
    height: 100%;
  }

  .portfolio .portfolio__container .portfolio__content {
    width: 100%;
    height: 100%;
  }

  .portfolio .portfolio__container .portfolio__content .portfolio__caption {
    top: 20px;
    height: 50px;
  }

  .portfolio .portfolio__container .portfolio__content
  .portfolio__images {
    width: 80%;
    height: 70%;
    margin: 0 30px;
  }

  .portfolio .portfolio__container .portfolio__content .portfolio__images
  .portfolio-photos {
    grid-template-columns: 240px 240px;
    grid-template-rows: 200px 200px;
  }

  .portfolio .portfolio__container .portfolio__content .portfolio__images
  .portfolio-photos .portfolio-box .overlay {
    top: -203px;
    width: 240px;
    height: 200px;
  }

  /* JOB HISTORY SECTION */

  .job-history {
    height: 1100px;
  }

  .job-history .h-container {
    width: 90%;
    height: 90%;
  }

  .job-history .h-container .h-box {
    width: 100%;
    height: 80%;
    margin: 0 60px;
    grid-template-columns: 1fr;
    grid-template-rows: 240px;
  }

  /* SEVICE OFFERS SECTION */

  .service-offers {
    height: 1360px;
  }

}

@media (min-width: 501px) and (max-width: 570px) {

  /* HEADER */
  /* MENU */

  .menu .sticky-menu .navigation .nav-item {
    font-size: 12px;
  }

  .menu .sticky-menu .navigation .nav-item.with-arrow
  .drop-navigation {
    height: 80px;
  }

  .menu .sticky-menu .navigation .nav-item.with-arrow .drop-navigation .drop-nav-item {
    margin: 5px 0;
  }

  .menu .sticky-menu .navigation .nav-item.with-arrow .drop-navigation.right-nav {
    margin: 0 -80px 10px;
    height: 50px;
    width: 120px;
  }

  /* FOOTER */

  .container__footer .content-footer .copyright {
    color: #fff;
    text-align: center;
    padding: 30px;
  }

  .container__footer .copyright .nickname {
    color: #78e08f;
  }

    /* MAIN */
    /*HOME SECTION*/

    .home-area {
      height: 400px;
    }

    .home-area .profile {
        width: 90%;
        height: 80%;
        bottom: 30px;
    }

    .home-area .home-caption {
      font-size: 18px;
    }

    .home-area .home-caption::after {
      font-size: 12px;
      width: 80px;
      height: 15px;
    }

    .home-area .profile .profile-desc {
      margin: 5px;
      font-size: 14px;
    }

    .profile .i-block {
      bottom: 10px;
    }

    .profile .i-block .icon {
      margin: 15px 10px;
      width: 20px;
      height: 20px;
    }

    .profile .i-block .icon a .fa {
      font-size: 18px;
    }

    .profile .i-block .icon a:hover .fa {
      font-size: 22px;
    }


    /* ABOUT-ME SECTION */

    .about-me {
      height: 400px;
    }

    .about-me .img-box {
      height: 60%;
      width: 40%;
    }

    .about-me .img-box::before {
      font-size: 18px;
    }

    .about-me .content-about {
      width: 40%;
      height: 100%;
    }

    .about-me .content-about .content-text {
      font-size: 14px;
    }

    .about-me .content-about .content-caption {
      display: flex;
      position: relative;
      width: 100%;
      height: 20%;
    }

    .about-me .content-about .content-caption div
    .about-caption::before {
      bottom: 34px;
    }

    /* LATEST WORKS SECTION */

    .portfolio {
      height: 900px;
    }

    .portfolio .portfolio__container {
      width: 90%;
      height: 100%;
    }

    .portfolio .portfolio__container .portfolio__content {
      width: 100%;
      height: 100%;
    }

    .portfolio .portfolio__container .portfolio__content
    .portfolio__caption {
      top: 20px;
      height: 50px;
    }

    .portfolio .portfolio__container .portfolio__content
    .portfolio__caption .portfolio__description {
      height: 10%;
    }

    .portfolio .portfolio__container .portfolio__content
    .portfolio__images {
      width: 80%;
      height: 70%;
      margin: 0 30px;
    }

    .portfolio .portfolio__container .portfolio__content
    .portfolio__images .portfolio-photos {
      display: flex;
      position: relative;
      flex-direction: column;
    }

    .portfolio .portfolio__container .portfolio__content
    .portfolio__images .portfolio-photos .portfolio-box {
      width: 350px;
      height: 100px;
      margin: 15px 10px;
    }

    .portfolio .portfolio__container .portfolio__content .portfolio__images
    .portfolio-photos .portfolio-box .overlay {
      top: -105px;
      width: 350px;
      height: 100px;
    }

    /* JOB HISTORY SECTION */

    .job-history {
      height: 1050px;
    }

    .job-history .h-container {
      width: 90%;
      height: 90%;
    }

    .job-history .h-container .h-caption {
      margin: 5px 0 10px;
    }

    .job-history .h-container .h-box {
      width: 100%;
      height: 90%;
      top: 50px;
      left: 25px;
      right: 25px;
      grid-template-columns: 1fr;
      grid-template-rows: 240px;
    }

    .job-history .h-container .h-box .h-content .top-right .date {
      font-size: 14px;
    }

    /* SEVICE OFFERS SECTION */

    .service-offers {
      height: 1360px;
    }

    /* FEEDBACK SECTION */

    .feedback {
      height: 300px;
    }

    .feedback .feedback-container .slider {
      width: 400px;
      height: 70%;
    }

    .feedback .feedback-container .slider .slide {
      width: 400px;
    }

    .feedback .feedback-container .slider .slide .slide-content {
        width: 400px;
    }

}

@media (min-width: 320px) and (max-width: 500px) {

  /* HEADER */
  /* MENU */

  .menu .sticky-menu .navigation .nav-item {
    font-size: 9px;
    margin: 0 5px 0;
  }

  .menu .sticky-menu .navigation .nav-item.with-arrow
  .drop-navigation {
    height: 70px;
  }

  .menu .sticky-menu .navigation .nav-item.with-arrow .drop-navigation .drop-nav-item {
    margin: 5px 0;
  }

  .menu .sticky-menu .navigation .nav-item.with-arrow
  .drop-navigation.right-nav {
    margin: 0 -80px 10px;
    height: 40px;
    width: 120px;
  }

  /* FOOTER */

  .container__footer .content-footer .copyright {
    color: #fff;
    text-align: center;
    padding: 30px;
  }

  .container__footer .copyright .nickname {
    color: #78e08f;
  }

  /* MAIN */
  /*HOME SECTION*/

  .home-area {
    height: 200px;
  }

  .home-area .profile {
      width: 80%;
      height: 80%;
      bottom: 30px;
  }

  .home-area .home-caption {
    top: 10px;
    right: 10px;
    font-size: 9px;
  }

  .home-area .home-caption::after {
    font-size: 6px;
    width: 40px;
    height: 10px;
  }

  .home-area .profile .profile-desc {
    height: 80%;
    top: 20px;
    margin: 5px;
    font-size: 7px;
  }

  .profile .i-block {
    bottom: 10px;
  }

  .profile .i-block .icon {
    margin: 15px 10px;
    width: 10px;
    height: 10px;
  }

  .profile .i-block .icon a .fa {
    font-size: 8px;
  }

  .profile .i-block .icon a:hover .fa {
    font-size: 10px;
  }


  .home-area .profile .profile-img {
    height: 90%;
    width: 50%;
    margin: 10px 10px 10px 10px;
  }

  /* ABOUT-ME SECTION */

  .about-me {
    height: 300px;
  }

  .about-me .img-box {
    height: 50%;
    width: 60%;
  }

  .about-me .img-box::before {
    font-size: 5px;
  }

  .about-me .content-about {
    width: 40%;
    height: 100%;
  }

  .about-me .content-about .content-text {
    font-size: 8px;
  }

  .about-me .content-about .content-caption {
    display: flex;
    position: relative;
    width: 100%;
    height: 20%;
  }

  .about-me .content-about .content-caption div
  .about-caption {
    margin: 10px;
    font-size: 11px;
  }

  .about-me .content-about .content-caption div
  .about-caption::before {
    bottom: 4px;
  }

  .about-me .content-about .content-caption div
  .about-caption:hover::before {
    left: 40%;
  }

  /* LATEST WORKS SECTION */

  .portfolio {
    height: 750px;
  }

  .portfolio .portfolio__container {
    width: 90%;
    height: 100%;
  }

  .portfolio .portfolio__container .portfolio__content {
    width: 100%;
    height: 100%;
  }

  .portfolio .portfolio__container .portfolio__content
  .portfolio__caption {
    font-size: 11px;
    top: 20px;
    height: 20px;
  }

  .portfolio .portfolio__container .portfolio__content
  .portfolio__description .desc-right p,
  .portfolio .portfolio__container .portfolio__content
  .portfolio__description .desc-left p {
    font-size: 8px;
  }

  .portfolio .portfolio__container .portfolio__content
  .portfolio__images {
    width: 80%;
    height: 70%;
    margin: 0 30px;
  }

  .portfolio .portfolio__container .portfolio__content
  .portfolio__images .portfolio-photos {
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .portfolio .portfolio__container .portfolio__content
  .portfolio__images .portfolio-photos .portfolio-box {
    width: 280px;
    height: 50px;
    margin: 15px 10px;
  }

  .portfolio .portfolio__container .portfolio__content .portfolio__images
  .portfolio-photos .portfolio-box .overlay {
    top: -54px;
    width: 280px;
    height: 50px;
  }

  .portfolio .portfolio__container .portfolio__content .portfolio__images
  .portfolio-photos .portfolio-box .overlay h4 {
    font-size: 11px;
  }
  .portfolio .portfolio__container .portfolio__content .portfolio__images
  .portfolio-photos .portfolio-box .overlay p {
    font-size: 9px;
  }

  /* JOB HISTORY SECTION */

  .job-history {
    height: 1100px;
  }

  .job-history .h-container {
    width: 90%;
    height: 90%;
  }

  .job-history .h-container .h-caption {
    width: 100px;
    height: 30px;
    margin: 5px 0 10px;
  }

  .job-history .h-container .h-caption h2 {
    font-size: 11px;
  }

  .job-history .h-container .h-box {
    width: 100%;
    height: 90%;
    top: 10px;
    left: 25px;
    right: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: 240px;
  }

  .job-history .h-container .h-box .h-content .top-right .date {
    font-size: 12px;
  }

  .job-history .h-container .h-box .h-content p {
    font-size: 12px;
  }

  /* SEVICE OFFERS SECTION */

  .service-offers {
    height: 1500px;
  }

  .service-offers .service-container .service-box .service-caption {
    font-size: 11px;
    width: 80px;
    height: 40px;
  }

  .service-offers .service-container .service-box .service-caption:hover::after {
    right: 45%;
  }

  /* FEEDBACK SECTION */

  .feedback {
    height: 300px;
  }

  .feedback .feedback-container .slider {
    width: 90%;
    height: 90%;
  }

  .feedback .feedback-container .slider .slide {
    width: 100%;
  }

  .feedback .feedback-container .slider .slide .slide-content {
      width: 100%;
  }

}
